{% extends "index.html" %}
{% block title %> 鷹架式前端語言學習系統--By lee {% end block %>
{%block content%}
<div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="500">
     <form action="" method="post" class="form-box">
       <h3 class="h4 text-black mb-4">學員登入</h3>
       <div class="form-group">
         <input type="text" class="form-control" placeholder="帳號">
       </div>
       <div class="form-group">
         <input type="password" class="form-control" placeholder="密碼">
       </div>
       <div class="form-group mb-4">
         <input type="password" class="form-control" placeholder="確認密碼">
       </div>
       <div class="form-group">
         <input type="submit" class="btn btn-primary btn-pill" value="登入">
       </div>
     </form> 
</div>